/* RELATIVE UNITS */
/* PERCENT VALUES */
/* PERCENT VALUES DEPEND ON THE PARENT ELEMENT */

.outer {
    width: 500px;
    height: 500px;
    background: blue;
}

.inner {
    width: 50%; /* 50 PERCENT OF PARENT ELEMENT, OUTER DIV IN THIS CASE*/
    height: 50%;
    background: red;
}