/* RELATIVE UNITS */
/* rem- RELATIVE, DEPENDS ON ROOT */
/* 1 REM = 16PX DEFAULT BROWSER STYLE */

html {
    font-size: 32px;
}
div {
    font-size: 10px;
}

.relative {  /* RELATIVE TO ROOT, NOT PARENT. ROOT ELEMENT IS HTML, WHOSE DEFAULT SIZE IS 16PX */
    font-size: 2rem;
}

.absolute {
    font-size: 32px;
}